
\.idea/\.idea\.WorldOfCode/\.idea/contentModel\.xml

\.idea/\.idea\.WorldOfCode/\.idea/encodings\.xml

\.idea/\.idea\.WorldOfCode/\.idea/indexLayout\.xml

\.idea/\.idea\.WorldOfCode/\.idea/misc\.xml

\.idea/\.idea\.WorldOfCode/\.idea/modules\.xml

\.idea/\.idea\.WorldOfCode/\.idea/vcs\.xml

\.idea/\.idea\.WorldOfCode/\.idea/workspace\.xml

\.idea/\.idea\.WorldOfCode/riderModule\.iml

WorldOfCode/obj/Debug/

WorldOfCode/obj/Release/
